POSTGRES_DB=image_rating
POSTGRES_USER=image_rating
POSTGRES_PASSWORD=change-me
WEB_PORT=8080
RATING_DATA_DIR=/data/sunwenxiu/rating
PG_POOL_MAX=24
PG_STATEMENT_TIMEOUT_MS=15000
PG_LOCK_TIMEOUT_MS=2000
